= render template: "groups/index"
.right-contents
  .right__top-content
    %span
      .group_name
        = @group.group_name
    %span
      .members
        - @group.users.each do |user|
          = user.name
    =link_to "Edit", edit_group_path(@group), class: "button1"
  .right__center-content
    .messages
      - @messages.each do |message|
        %span
          .messages__member= message.user.name
        %span
          .messages__date= message.created_at
        %span
          .messages__text= message.body
  = form_for [@group, @message],html: {class: "js-form"} do |f|
    .right__bottom-content
      = f.text_field :body, placeholder: "type a message", class: "textarea"
      %i.fa.fa-picture-o.fa-lg
      = f.submit "Send", class: "button2"
